.summaryContainer {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    font-size: .9rem;
    text-align: left;
    padding-left: 2rem;
    
    table{
        border: 1px solid #e5e7eb;
        margin-top: 2rem;
    }


    th,
    td {
        padding: 12px 15px;
    }

    tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    tr td:nth-child(2){
        color: #505050;
        font-weight: 400;
    }


}